:root {
    --scroll-content-margin: 0px;
}

/* GLOBAL */
*,
::before,
::after {
    box-sizing: border-box;
}

p,
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    border: 0;
    padding: 8px;
    font-family: inherit;
    border-radius: 10px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400; 
    padding: 24px;
    text-align: center;  
    background-color: #b7b7b7;
}

/* Form */
.on-scroll {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background: linear-gradient(138.13deg, #22343cae 25.87%, #1f2e35b1 100%);
}

.search-form >input {
    margin: 12px;  
    width: 226px;
    height: 48px;
    color: gray;
    outline: solid 2px grey;
    border-radius: 10px;
}

.btn {
    width: 120px;
    height: 48px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    background:#94bde1;
    border-radius: 10px;
}
.btn:hover,
.btn:focus {
    
    background:#67c7c7;

}


  /* Gallery */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--scroll-content-margin);
    gap: 12px;
    padding: 24px 0;
}

.gallery__item {
    position: relative;
    overflow: hidden;
    background-color:  #94b9c4;
    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover,
.gallery__item:focus {
    box-shadow: 0px 1px 14px #0b0c0d;

}

.photo-card {
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 100%;
    padding: 12px;
}


.info {
    display: flex;
    margin-top: 8px;
}

.info-item {
    font-weight: 700;
    font-size: 16px;
    color: rgba(249, 249, 249, 0.7);
}

.info-item:not(:last-child) {
    margin-right: 6px;
}

.info-item>b {
    font-weight: 800;
    font-size: 18px;
    color: #f9f9f9;
}

.is-hidden {
    display: none;
}

.page-load-status {
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
    padding-top: 20px;
    text-align: center;
    color: #899a96;
}